<header>
  <section class="container">
    <h1>Awesome Elixir</h1>
  </section>
</header>
<main role="main" class="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <section class="row">
    <article class="column">
      <a href="/">All</a>
    </article>
    <article class="column">
      <a href="/?min_stars=10">≥10⭐</a>
    </article>
    <article class="column">
      <a href="/?min_stars=50">≥50⭐</a>
    </article>
    <article class="column">
      <a href="/?min_stars=100">≥100⭐</a>
    </article>
    <article class="column">
      <a href="/?min_stars=500">≥500⭐</a>
    </article>
    <article class="column">
      <a href="/?min_stars=1000">≥1000🌟</a>
    </article>
  </section>
  <hr>
  <h2>Contents</h2>
  <ul>
  <%= for g <- @groups do %>
    <li><a href="#<%= g.name %>"><%= g.name %></li></a>
  <% end %>
  </ul>

  <%= for g <- @groups do %>
    <h2 id="<%= g.name %>"><%= g.name %></h2>
    <p><%= g.description %></p>
    <ul>
      <%= for p <- g.projects do %>
        <% since_last_push = Date.diff(Date.utc_today, NaiveDateTime.to_date(p.pushed_at)) %>
        <li <%= if since_last_push > 100 do %> class="outdated" <% end %>><a href="<%= p.url %>"><%= p.name %></a> ⭐ <%= p.star_count  %> 📅 <%= since_last_push %>
          — <%= as_html(p.description) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</main>
